.myUserTable .ant-pagination-item-active a {
  color: #669c61;
}

.myUserTable .ant-pagination-item-active:focus-visible,
.ant-pagination-item-active:hover {
  border-color: #669c61;
}

.myUserTable .ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #669c61;
}

.myUserTable .ant-table-thead > tr > th {
  background: #669c61;
  color: #fff;
}

.myUserTable .ant-table-thead th.ant-table-column-has-sorters:hover {
  background: #a1d062;
  color: #000;
}

.myUserTable .ant-table-column-sorter {
  color: #fff;
}

.myUserTable .ant-table-column-sorters:hover .ant-table-column-sorter {
  color: #000;
}

.myUserTable .ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #fdfa4a;
}

.myUserTable .ant-table-tbody > tr.ant-table-row:hover > td {
  background: #f1fae6;
}

.btnEdit,
.btnDelete {
  font-size: 1.3rem;
  padding: 3px 6px;
  border-radius: 4px;
  margin-right: 10px;
}

.btnEdit :hover {
  color: #4191ff;
}

.btnDelete :hover {
  color: red;
}

.btnEdit {
  color: #4191ff;
  /* background: #4191ff; */
  border: 1px solid #4191ff;
}

.btnDelete {
  color: red;
  border: 1px solid red;
  /* background: red; */
}
